@model IEnumerable<SisVendas.Models.FormaPagto>

@{
    ViewData["Title"] = "Forma Pagtos";
}

<h2>@ViewData["Title"]</h2>

<hr />
<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Pagto")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.strPagto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPagto">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPagto">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPagto">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
