@model SisVendas.Models.Vendedor

@{
    ViewData["Title"] = "Deletar Vendedor?";
}

<h4>@ViewData["Title"]</h4>

<hr />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Vendedor")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StrNomeVend)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.strEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.strEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.douSalBase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.douSalBase)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVend" />
        <input type="submit" value="Deletar" class="btn btn-default" /> |
        <a asp-action="Index">Retorna Lista</a>
    </form>
</div>
