@model IEnumerable<SisVendas.Models.Vendedor>

@{
    ViewData["Title"] = "Vendedores";
}

<h2>@ViewData["Title"]</h2>

<hr />
<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StrNomeVend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.douSalBase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StrNomeVend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.douSalBase)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVend">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdVend">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVend">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
