@model IEnumerable<SisVendas.Models.Vendedor>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StrNomeVend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.douSalBase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StrNomeVend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.douSalBase)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVend">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVend">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVend">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
