@model SisVendas.Models.Cliente

@{
    ViewData["Title"] = "Deletar Cliente";
}

<h2>@ViewData["Title"]</h2>


<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Cliente")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StrNomeCli)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DtNasc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DtNasc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UF)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCli" />
        <input type="submit" value="Deletar" class="btn btn-default" /> |
        <a asp-action="Index">Retornar Lista</a>
    </form>
</div>
