@model IEnumerable<SisVendas.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.strNomeCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtNasc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UF)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.strNomeCli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtNasc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UF)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCli">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCli">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCli">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
