@model SisVendas.Models.ItemVendas

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ItemVendas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vendas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendas.IdVenda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendas.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendas.Cliente.StrNomeCli)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendas.Pagto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendas.Pagto.strPagto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendas.Vendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendas.Vendedor.StrNomeVend)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produto.strNomeProd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.douQuant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.douQuant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.douValor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.douValor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ItemID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
