@model IEnumerable<SisVendas.Models.ItemVendas>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vendas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.intQuant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.douValor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vendas.IdVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.strNomeProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.intQuant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.douValor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
