@model SisVendas.Models.Vendas

@{
    ViewData["Title"] = "Deletar Venda";
}

<h2>@ViewData["Title"]</h2>


<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendedor.StrNomeVend)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente.StrNomeCli)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pagto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pagto.strPagto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dtVenda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dtVenda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Produto</th>
                <th>Quant.</th>
                <th>Valor</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in (List<ItemVendas>)ViewBag.ItemVendas)
                {
                    var total = item.douQuant * item.douValor;
                    var totalprod = total.ToString("F2"); 


                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProdutoId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Produto.strNomeProd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.douQuant)
                        </td>
                        <td>
                            R$ @Html.DisplayFor(modelItem => item.douValor)
                        </td>
                        <td>
                            <div style="float:left;">R$ </div>
                            <div style="float:left; margin-left:5px;" id="totalprod">@Html.DisplayFor(modelItem => totalprod)</div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div style="float:left; font-size:22px;">Total: R$</div>
    <div style="float:left; font-size:22px; margin-left:5px;" id="totalvenda"> @ViewBag.Totalvenda</div>
    
    <br /> <br />

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVenda" />
        <input type="submit" value="Deletar" class="btn btn-default" /> |
        <a asp-action="Index">Retorna Lista</a>
    </form>
</div>
