@model SisVendas.Models.Vendas

@{
    ViewData["Title"] = "Detalhes Vendas";
}

<h4>@ViewData["Title"]</h4>

<div>   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendedor.StrNomeVend)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente.strNomeCli)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pagto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pagto.strPagto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dtVenda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dtVenda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdVenda">Editar</a> |
    <a asp-action="Index">Retorna Lista</a>
</div>
