@model IEnumerable<SisVendas.Models.Departamento>

@{
    ViewData["Title"] = "Departamentos";
}

<h2>@ViewData["Title"]</h2>

<hr />

<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Departamento")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.strDepto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDepto">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdDepto">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDepto">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
