@model SisVendas.Models.Produto

@{
    ViewData["Title"] = "Deletar Produto?";
}

<h4>@ViewData["Title"]</h4>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Produto</dt>
        <dd>
            @Html.DisplayFor(model => model.strNomeProd)
        </dd>
        <dt>Preço Produto</dt>
        <dd>
            @Html.DisplayFor(model => model.douPreco)
        </dd>
        <dt>Quant. Produto</dt>
        <dd>
            @Html.DisplayFor(model => model.douQuant)
        </dd>
        <dt>Unid. Produto</dt>
        <dd>
            @Html.DisplayFor(model => model.strUnid)
        </dd>
        <dt>Depto. Produto</dt>
        <dd>
            @Html.DisplayFor(model => model.Departamento.strDepto)
        </dd>
        <dt>Foto Produto</dt>
        <dd>
            <img src="@Html.DisplayFor(model => model.strFoto)" width="150" height="150" />
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProd" />
        <input type="submit" value="Deletar" class="btn btn-default" /> |
        <a asp-action="Index">Retornar Lista</a>
    </form>
</div>
