@model IEnumerable<SisVendas.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h2>@ViewData["Title"]</h2>

<hr />
<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Preço Produto</th>
            <th>Quant. Produto</th>
            <th>Depart.</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.strNomeProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.douPreco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.douQuant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.strDepto)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProd">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdProd">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProd">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
